* {
    box-sizing: border-box;
}

.app-container {
    background: #4B4C9D;
    min-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.navbar-container {
    background: rgba(255, 255, 255, 0.9);
    height: 32px;
}

.desk-container section {
    display: flex;
}

.desk-icon {
    padding: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.desk-icon {
    margin: 24px 12px 12px 12px;
}
