* {
    box-sizing: border-box;
}

.navbar-container {
    background: #ddd;
    height: 32px;
}

.desk-container {
    background: #4B4C9D;
    min-width: 100%;
    height: calc(100vh - 32px);
}

.desk-container section {
    display: flex;
}

.desk-icon {
    padding: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.desk-icon {
    margin: 24px 12px 12px 12px;
}

.list-container {
    display: flex;
}

.sidebar {
    flex: 1;
    padding: 15px;
}

.main-content {
    flex: 3;
    padding: 15px;
}

.list-items {
    list-style: none;
    color: #333;
}

.list-item {
    padding: 8px 5px;
}

.list-item:hover {
    background: lightyellow;
    cursor: pointer;
}